<div class="font-semibold font-title">
    Hello, World
</div>
<p>
    Welcome to Microsoft Teams Hello World sample app (İlker Şirin)
</p>
<div class="teams-share-button"
     data-href="https://<link-to-be-shared>">
</div>